<html>
<body>
  <form method='post'>
    <label> Heading </label> <br/>
    <input type="text" name="heading" value="0" /><br/>
    <br/>
    <label>Speed </label><br/>
    <input type="text" name="speed" value="0" /><br/>
    <br/>
    <label>Latitude </label><br/>
    <input type="text" name="lat" value="41.4822" /><br/>
    <br/>
    <label>Longitude </label><br/>
    <input type="text" name="lng" value="81.6697" /><br/>
    <br/>
    <label>Wind Speed</label><br/>
    <input type="text" name="wind_speed" value="0" /><br/>
    <br/>
    <label>Wind Direction</label><br/>
    <input type="text" name="wind_direction" value="0" /><br/>
    <br/>
    <input type="submit" value="save" />
    <br/>

  </form>
</body>
</html>
